<body class="stackedit">
<div class="stackedit__html"><h1 id="dof-quadbot">12 dof Quadbot</h1>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/6dX_etCzyeo" allowfullscreen=""></iframe>
    <h2 id="overview">Overview</h2>
    <p>The scope of this project was to build a quadrupedal robot controllable through a web interface or a custom bluetooth remote controller. The project was started my senior year of high school and finished midway through my freshman year of college.</p>
    <p>Supporting code can be found at my <a href="https://github.com/JeremySMorgan/12dof-quadbot">github</a></p>
    <h2 id="hardware">Hardware</h2>
    <p>The robot is made of 3d prints designed using AutoCAD for Mac 2016. The frame hold 12 Standard Servo motors which are powered through an external power supply which is regulated by the DROK® LM2596 Digital Control Voltage Regulator DC Buck Converter. The servos are driven by Adafruit’s 16-Channel PWM / Servo HAT .
        Software runs off a Raspberry Pi</p>
    <h2 id="web-interface">Web Interface</h2>
    <p>The robot runs a Flask server with <a href="http://socket.io">socket.io</a> python plugin which provides client - server communication over the websocket protocol. The front end is presented with bootstrap, jQuery and noioslider. User input is collected with nouislider.js, and uses the web based GamepadAPI for ps3 and xbox controller input</p>
    <h2 id="robot-software">Robot Software</h2>
    <p>The robot’s software is loosely designed around a micro service architecture, in which independently deployable, small, modular services are run in which each service contains a unique process and communicates through a well-defined, lightweight mechanism to serve a distinct goal. In practice each ‘service’ is not modular and there is not a separate message system for each service.</p>
    <p>Services:</p>
    <ol>
        <li>I2C Driver</li>
        <li>LaserDriver</li>
        <li>MotionCalculator</li>
        <li>MotorDriver</li>
        <li>PWMDriver</li>
        <li>Utilities</li>
    </ol>
</div>
</body>

