html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
}
.col-mid-8{
    margin: 0px;
}

.col-mid-4{
    margin: 0px;
}

/* Background slide */
.noUi-target{
  background-color: red;
}

/* Button */
.noUi-handle{

}

#page-content-wrapper{
  padding-bottom: 0;
  padding-top: 10px;
  padding-right: 0;
  padding-left: 10px;
}

div .container-fluid{
  padding-left: 0;
  padding-right: 0;
}

.noUi-handle {
	border-radius: 3px;
  background: #E5E5E5;
}

.noUi-target{
  margin-top: .5em;
}

.text{
  font-family: "Abadi MT Condensed Extra Bold","Andale Mono";
}

.link{
  text-decoration: none;
}
.link:hover{
  color: black;
}

#return_btn {
  /*position: fixed;*/
  background: turquoise;
  /*top: 3px;*/
  /*right: 3px;*/
  border: 1px solid darkgray;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
  color: black;
}

.link {
  color: black; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('//fonts/glyphicons-halflings-regular.eot');
  src: url('//fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('//fonts/glyphicons-halflings-regular.woff2') format('woff2'),
  url('//fonts/glyphicons-halflings-regular.woff') format('woff'),
  url('//fonts/glyphicons-halflings-regular.ttf') format('truetype'),
  url('//fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font: normal normal 16px/1 'Glyphicons Halflings';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin-right: 4px;
}
/* Add icons you will be using below */
.glyphicon-home:before {
  content: '\e24';
}