html,body,div{
    padding:0;
    margin:0;
}

html{
    background-color: #cccccc;
}

/* Styling for singleBoxes in drawingBox */
.singleBox{
    border: 1px solid rgba(100,100,100,.2);  }
.singleBox:hover{
    border: 1px solid rgba(100,100,100,.6);
}


/* The drawing box container */
#drawingArea{
    margin-top:3em;
    position: relative;
    float:left;
    margin-left: 3em;
    margin-right: 3em;
}

/* The container of the color picker */
#colorPickerHolderContainer{
    margin-top: 3em;
    margin-left:3em;
    float:left;
    background-color: aqua;

}

/* FONTS */
h1{
    font-family: Stiff Staff, DIN Alternate Bold, Andale Mono, Arial;
    margin:0;
    margin-top: .5em;
    margin-bottom:.45em;
    text-shadow: 2px 2px aqua;
}

button{
    font-family: DIN Alternate Bold, Andale Mono, Arial;

}

/* The header of the page */
#header{
    width:100%;
    text-align: center;
    font-size: 1.75em;
}


/* --- START User Control Panel --- */
.userControls{


    width: 352px;
    height:176px;

    margin-top: 3em;
    margin-left:3em;
    float:left;

    background-color: #898989;
    border-radius: .25em;
    border: 2px solid aqua;

}
.userControlsInsideContainer{

    /* Centers the div vertically */
    position: relative;
    top: 50%;
    transform: translateY(-50%);


    text-align: center;
    margin-left:auto;
    margin-right: auto;
}
/* --- END User Control Panel --- */


/* Button Styling */
button, .button, input[type=submit] {
    border: 0;
    background: #5786c1;
    color: white;
    padding: 8px 14px;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    /* needed for anchors */
    position: relative;
    box-shadow: 1px 0px #3a587f, 0px 1px #4171ae, 2px 1px #3a587f, 1px 2px #4171ae, 3px 2px #3a587f, 2px 3px #4171ae, 4px 3px #3a587f, 3px 4px #4171ae, 5px 4px #3a587f, 4px 5px #4171ae, 6px 5px #3a587f, 5px 6px #4171ae;
}
button:hover, button:focus, button.hover, button.focus, .button:hover, .button:focus, .button.hover, .button.focus, input[type=submit]:hover, input[type=submit]:focus, input[type=submit].hover, input[type=submit].focus {
    transform: translate(2px, 2px);
    box-shadow: 1px 0px #3a587f, 0px 1px #4171ae, 2px 1px #3a587f, 1px 2px #4171ae, 3px 2px #3a587f, 2px 3px #4171ae, 4px 3px #3a587f, 3px 4px #4171ae;
}
button:active, button.active, .button:active, .button.active, input[type=submit]:active, input[type=submit].active {
    transform: translate(4px, 4px);
    box-shadow: 1px 0px #3a587f, 0px 1px #4171ae, 2px 1px #3a587f, 1px 2px #4171ae;
}

.col {
    width: 160px;
    float: left;
}
/* END BUTTON STYLING */
