<div class="col-xs-12 col-md-6">
        <div href="#" class="thumbnail">
            <img src="../../images/astar.gif" alt="">
            <h3>A*, Dijkstra Python Search Implementation</h3>

            <p>
                <i>June 2017</i>
            </p>
            <a href="https://github.com/JeremySMorgan/2DGraphSearch">
                <p>Github Link</p>
            </a>
            <p>
                • Python based implementation of A* and Dijkstra search algorithms through custom built 2D graph made from image analysis
            </p>
        </div>
    </div>