<!DOCTYPE html>
<html>

<head>

  <title>Jeremy Morgan Personal Site</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="plugins/bootstrap/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">

  <script src="/plugins/jquery/jquery.js"></script>
  <script type="text/javascript" src="/plugins/email/email.min.js"></script>
  <script src="/js/main.js"></script>

</head>

<!-- 
  xs - phones
  sm - tablets
  md - desktops
  lg - larger desktops
-->

<body>

<div class="container-fluid">

  <div class="row">

    <div class="col-md-4 col-sm-6 col-xs-10">
        <div href="#" class="thumbnail">
          <img src="../../images/headshot.jpg" class="img-responsive" alt="">
          <br>
          <p class="text">
            My name is <strong> Jeremy Morgan</strong>. I'm an undergraduate student at Duke University
            pursueing a double major in Electrical Computer Engineering and Computer Science.
            I am interested in robotics.I like rock climbing, yoga, beer
            and <a href="http://vsco.co/jeremysmorgan"> photography</a>. And Rick and Morty.
            <br><br>
          </p>
          <i>Contact/Links:</i>
          <div class="row">
            <div class="col-md-3">
              <a href="mailto:jeremy.s.morgan@duke.edu" target="_top">
                <h5>Email</h5>
              </a>
            </div>
            <div class="col-md-3">
              <a href="https://www.linkedin.com/in/jeremy-morgan-457516111">
                <h5>LinkedIn</h5>
              </a>
            </div>
            <div class="col-md-3">
              <a href="https://github.com/JeremySMorgan">
                <h5>GitHub</h5>
              </a>
            </div>
          </div>
        </div>
    </div>

    <div class="col-md-8 col-sm-12" id="collapsable_parent">
    </div>

  </div>



</div>


</body>

<script type="text/javascript">
    var userip;
</script>

<!--<script type="text/javascript" src="https://l2.io/ip.js?var=userip"></script>-->

<script type="text/javascript">
  /*
    var ip_ = userip;
    (function(){
        emailjs.init("user_SDtez5ebxuYGahbUiyHs7");
    })();

    $.getJSON('https://ipapi.co/'+ip_+'/json', function(data){
        var city = data.city;
        var region = data.region;
        var country = data.country;
        var currentdate = new Date()

        var datetime = currentdate.getDate() + "/"
            + (currentdate.getMonth()+1)  + "/"
            + currentdate.getFullYear() + " @ "
            + currentdate.getHours() + ":"
            + currentdate.getMinutes() + ":"
            + currentdate.getSeconds();

        emailjs.send("user_email","website_view",{ip: ip_, city:city, region:region, country:country, date:datetime});
    });
*/
</script>


</html>