<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/bootstrap.css">
    <title>Jeremy Morgan Personal Site</title>

    <style media="screen">
      html,
      body {
        height: 100%;
      }

      .jumbotron.vertical-center {
        margin-bottom: 0;
        /* Remove the default bottom margin of .jumbotron */
      }

      .vertical-center {
        min-height: 100%;
        /* Fallback for vh unit */
        min-height: 100vh;
        /* You might also want to use
            /* Make it a flex container */
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        /* Align the bootstrap's container vertically */
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        /* In legacy web browsers such as Firefox 9
            we need to specify the width of the flex container */
        width: 100%;
        /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
            hence the bootstrap's container won't be aligned to the center anymore.
            Therefore, we should use the following declarations to get it centered again */
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
      }

      .container {
        /*background-color: gold;*/
      }
      /* visited link */

      a:visited {
        text-decoration: none;
        text-decoration: none;
      }
      /* mouse over link */

      a:hover {
        text-decoration: none;
      }
      /* selected link */

      a:active {
        text-decoration: none;
      }
      /* visited link */

      td a:visited {
        text-decoration: none;
        text-decoration: none;
      }
      /* mouse over link */

      td a:hover {
        text-decoration: none;
      }
      /* selected link */

      td a:active {
        text-decoration: none;
      }
    </style>

</head>

<!-- 
  xs - phones
  sm - tablets
  md - desktops
  lg - larger desktops
-->

<body>
  <div class="jumbotron vertical-center">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-3 text-center"></div>
        <div class="col-md-6">
          <div href="#" class="thumbnail">
            <img src="../../images/Headshot.jpg" class="img-responsive" alt="">
            <br>
            <font size="+3">My name is  <strong> Jeremy Star Morgan</strong> <br>I am studying Electrical Computer Engineering and Computer Science
              at Duke University. I am passionate about robotics and math. I also really like and Rick and Morty and <a href="http://vsco.co/jeremysmorgan"> photography</a></font>
          </div>

          <div class="row">
            <div class="col-md-3">
              <a href="/portfolio" target="_top">
                <h2>Portfolio</h2>
              </a>
            </div>
            <div class="col-md-3">
              <a href="mailto:jeremy.s.morgan@duke.edu" target="_top">
               <h2>Email</h2> 
              </a>
            </div>
            <div class="col-md-3">
              <a href="https://www.linkedin.com/in/jeremy-morgan-457516111">
                <h2>LinkedIn</h2>
              </a>
            </div>
            <div class="col-md-3">
              <a href="https://github.com/JeremySMorgan">
                <h2>GitHub</h2>
              </a>
            </div>
          </div>
        </div>
      </div>
      

    </div>
  </div>
</body>

</html>