<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="../../stylesheets/bootstrap.css">
	<title>Jeremy Morgan Personal Site</title>
</head>

<body>

	<div class="container-fluid">

		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">

				<h1>Portfolio</h1>
				<hr>

				<div class="row">
					<div class="col-md-6">
						<!-- robosimian -->
						<div href="#" class="thumbnail">

							<a href="/portfolio/robosimian">
								<h2 class="text-centered text-center center"> Quadruped Robot Gait Development</h2>
							</a>

							<div class="text-centered text-center center">
								<i class="text-centered text-center center">Duke Univeristy - Intelligent Motion Laboratory</i>
								<br>
								<br>
							</div>
							<a href="/portfolio/robosimian">
								<img src="/images/robosimian.png" class="img-rounded">
							</a>
						</div>
					</div>

					<div class="col-md-6">
						<!-- prm -->
						<div href="#" class="thumbnail">
							<a href="/portfolio/prm">
								<h2 class="text-centered text-center center">PRM Motion Planning</h2>
							</a>

							<div class="text-centered text-center center">
								<i class="text-centered text-center center">UPenn Computational Motion Planning Coursework</i>
								<br>
								<br>
							</div>
							<a href="/portfolio/prm">
								<img src="/images/prm_config_space.png" class="img-rounded">
							</a>
						</div>
					</div>

					<div class="col-md-6">
						<!-- 2d graph search -->
						<div href="#" class="thumbnail">
							<a href="/portfolio/_2d_graph_search">
								<h2 class="text-centered text-center center">2D Graph Search</h2>
							</a>

							<div class="text-centered text-center center">
								<i class="text-centered text-center center">Personal Project</i>
								<br>
								<br>
							</div>
							<a href="/portfolio/_2d_graph_search">
								<img src="/images/2d_graph_search.png" class="img-rounded">
							</a>
						</div>
					</div>


					<div class="col-md-6">
						<!-- quadbot -->
						<div href="#" class="thumbnail">
							<a href="/portfolio/quadbot">
								<h2 class="text-centered text-center center">Quadbot</h2>
							</a>

							<div class="text-centered text-center center">
								<i class="text-centered text-center center">Personal Project</i>
								<br>
								<br>
							</div>
							<a href="/portfolio/quadbot">
								<img src="/images/quadbot.png" class="img-rounded">
							</a>
						</div>
					</div>
				</div>


				<h1>Coming Soon...</h1><hr>

				<div class="row">
					<div class="col-md-4">
						<div href="#" class="thumbnail">
							<img src="../../images/arc.png" alt="">
							<h3>Amazon Robotics Challenge</h3>
							<i> November 2017 - July 2018 </i> <br> <br>
							• Competitively selected for Duke Universities 2018 Amazon Robotics Challenge Team
							<br> • One of 3 members on the motion and grasp planning subteam
						</div>
					</div>
				</div>


			<h1>Side Projects</h1>
			<hr>

			<div class="row">
				<div class="col-md-4">
					<div href="#" class="thumbnail">
						<img src="../../images/_4dof_arm.png" alt="">
						<h3>4 Dof Robotic Arm</h3>
						<i>August 2017 </i>
						<a href="https://github.com/JeremySMorgan/4DOF-Robotic-Arm">
							<p>Github Link</p>
						</a>
						• 4 degree of freedom robotic arm built from scratch using high torque servos and handcut steel.
						<br> • inverse kinematics solved using scipy gradient descent minimization.
					</div>
				</div>


				<div class="col-md-4">
					<div href="#" class="thumbnail">
						<img src="../../images/tricky_triangle.gif" alt="">
						<h3>Tricky Triangle</h3>
						<i>November 2016 </i>
						<a href="https://github.com/JeremySMorgan/Tricky_Triangle">
							<p>Github Link</p>
						</a>
						<p>• Java program to solve the tricky triangle marble game of arbitrary size using a recursive exploration algorithm
						</p>
					</div>
				</div>

				<div class="col-md-4">
					<div href="#" class="thumbnail">
						<div class="embed-responsive embed-responsive-4by3">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Qm-Ij6kP5rE"></iframe>
						</div>
						<h3>Robotic Arm</h3>
						<i>November 2013 </i>
						<p>
							• Cardboard robotic arm, controlled via an Arduino Uno
						</p>
					</div>
				</div>

				<div class="col-md-4">
					<div href="#" class="thumbnail">
						<div class="embed-responsive embed-responsive-4by3">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/djglfbDbr38"></iframe>
						</div>
						<h3>Thermal Imaging Camera</h3>
						<i>February 2016 </i>
						<p>
							• FliR Dev Kit.
						</p>
					</div>
				</div>

				<div class="col-md-4">
					<div href="#" class="thumbnail">
						<div class="embed-responsive embed-responsive-4by3">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/UrNdJE-w-Fo"></iframe>
						</div>
						<h3>Wireless LED Matrix</h3>
						<i>November 2016 </i>
						<a href="https://github.com/JeremySMorgan/LED-Matix-Web-Interface">
							<p>Github Link</p>
						</a>
						<p>
							• wirelessly controllable LED matrix using C/C++, HTML5, JavaScript, CSS3 and C++ JSON encoder and decoder
						</p>
					</div>
				</div>
			</div>




			<!-- end of content -->
		</div>
		<div class="col-md-2"></div>
	</div>




	</div>
</body>

</html>