<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="/plugins/bootstrap/bootstrap.css">
	<title>Jeremy Morgan Personal Site</title>
</head>

<body>

	<div class="container-fluid">

		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">

				<h1>Portfolio</h1>
				<hr>

				<div class="row">

					<!-- autonmous robosimian -->
					<div class="col-md-6">
						<div href="#" class="thumbnail">
							<a href="/portfolio/a_robosimian">
								<h2 class="text-centered text-center center">Autonomous Step Sequence and Motion Planner for Navigatation through Obstacle Filled Environments </h2>
							</a>
							<div class="text-centered text-center center">
								<i class="text-centered text-center center">Duke Univeristy - Intelligent Motion Laboratory</i>
								<br><br>
							</div>
							<a href="/portfolio/a_robosimian">
								<img src="/images/a_rs_thumbnail.png" class="img-rounded">
							</a>
						</div>
					</div>




					<!-- robosimian -->
					<div class="col-md-6">
						<div href="#" class="thumbnail">

							<a href="/portfolio/robosimian">
								<h2 class="text-centered text-center center"> Robosimian Walking Control</h2>
							</a>

							<div class="text-centered text-center center">
								<i class="text-centered text-center center">Duke Univeristy - Intelligent Motion Laboratory</i>
								<br>
								<br>
							</div>
							<a href="/portfolio/robosimian">
								<img src="/images/robosimian.png" class="img-rounded">
							</a>
						</div>
					</div>


					<div class="col-md-6">
						<!-- prm -->
						<div href="#" class="thumbnail">
							<a href="/portfolio/prm">
								<h2 class="text-centered text-center center">PRM Motion Planning</h2>
							</a>

							<div class="text-centered text-center center">
								<i class="text-centered text-center center">UPenn Computational Motion Planning Coursework</i>
								<br>
								<br>
							</div>
							<a href="/portfolio/prm">
								<img src="/images/prm_config_space.png" class="img-rounded">
							</a>
						</div>
					</div>


				</div>


				<h1>Side Projects</h1>
			<hr>

					<!-- 2d graph search -->
					<!--
					<div class="col-md-6">
						<div href="#" class="thumbnail">
							<a href="/portfolio/_2d_graph_search">
								<h2 class="text-centered text-center center">2D Graph Search</h2>
							</a>

							<div class="text-centered text-center center">
								<i class="text-centered text-center center">Personal Project</i>
								<br>
								<br>
							</div>
							<a href="/portfolio/_2d_graph_search">
								<img src="/images/2d_graph_search.png" class="img-rounded">
							</a>
						</div>
					</div>-->

				<div class="col-md-6">
						<div href="#" class="thumbnail">
							<div class="embed-responsive embed-responsive-4by3">
								<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6dX_etCzyeo"></iframe>
							</div>
							<h3>Quadbot</h3>
							<i>December 2015 </i>
							<a href="https://github.com/JeremySMorgan/12dof-quadbot">
								<p>Github Link</p>
							</a>
							<p>
								• Quadrupedal robot controllable through a web interface or a custom bluetooth remote controller. Built during my senior year of highschool.
							</p>
						</div>
					</div>



				<div class="col-md-6">
					<div href="#" class="thumbnail">
						<div class="embed-responsive embed-responsive-4by3">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TyzOgKOoLEo"></iframe>
						</div>
						<h3>Drawable LED Matrix</h3>
						<i>March 2018 </i>
						<a href="https://github.com/JeremySMorgan/LED-Matix-Web-Interface">
							<p>Github Link</p>
						</a>
						<p>
							Web controlled controllable LED matrix open for
							<a href="https://www.facebook.com/groups/hackathonhackers/permalink/1919453948110081/?__xts__[0]=68.ARAy4s_As0Qiy9vV2o4je9fWCJT3xOyZPPrbE4SSdgSJP0QXXPDzWI6Ca-VD22UjJ-4YvuxL44C52cKDgIcCUnWHZbOD8Qa7In1b53JC6XY6U0v0-4pKFZvJL6EZD_M6No_XBHUalnMh&__tn__=-R">
							anyone on the internet to draw on</a>. It was tons of fun seeing all of the designs people sent me.

						</p>
					</div>
				</div>
			</div>




			<!-- end of content -->
		</div>
		<div class="col-md-2"></div>
	</div>

	</div>
</body>

</html>