<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="../../stylesheets/bootstrap.css">
	<title>Jeremy Morgan Personal Site</title>
</head>

<body>

	<div class="container-fluid">

		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">

				<h1>Portfolio</h1>
				<hr>

				<div class="row">
					<div class="col-md-6">
						<!-- robosimian -->
						<div href="#" class="thumbnail">

							<a href="/portfolio/robosimian">
								<h2 class="text-centered text-center center"> Quadruped Robot Gait Development</h2>
							</a>

							<div class="text-centered text-center center">
								<i class="text-centered text-center center">Duke Univeristy - Intelligent Motion Laboratory</i>
								<br>
								<br>
							</div>
							<a href="/portfolio/robosimian">
								<img src="/images/robosimian.png" class="img-rounded">
							</a>
						</div>
					</div>

					<div class="col-md-6">
						<!-- autonmous robosimian -->
						<div href="#" class="thumbnail">
							<a href="/portfolio/a_robosimian">
								<h2 class="text-centered text-center center">Autonomous Step Sequence and Motion Planner for Quadrupedal Robots to Navigate through Obstacle Filled Environments </h2>
							</a>

							<div class="text-centered text-center center">
								<i class="text-centered text-center center">Duke Univeristy - Intelligent Motion Laboratory</i>
								<br>
								<br>
							</div>
							<a href="/portfolio/a_robosimian">
								<img src="/images/a_rs_thumbnail.png" class="img-rounded">
							</a>
						</div>
					</div>

					<div class="col-md-6">
						<!-- prm -->
						<div href="#" class="thumbnail">
							<a href="/portfolio/prm">
								<h2 class="text-centered text-center center">PRM Motion Planning</h2>
							</a>

							<div class="text-centered text-center center">
								<i class="text-centered text-center center">UPenn Computational Motion Planning Coursework</i>
								<br>
								<br>
							</div>
							<a href="/portfolio/prm">
								<img src="/images/prm_config_space.png" class="img-rounded">
							</a>
						</div>
					</div>

					<!-- 2d graph search -->
					<!--
					<div class="col-md-6">
						<div href="#" class="thumbnail">
							<a href="/portfolio/_2d_graph_search">
								<h2 class="text-centered text-center center">2D Graph Search</h2>
							</a>

							<div class="text-centered text-center center">
								<i class="text-centered text-center center">Personal Project</i>
								<br>
								<br>
							</div>
							<a href="/portfolio/_2d_graph_search">
								<img src="/images/2d_graph_search.png" class="img-rounded">
							</a>
						</div>
					</div>-->


					<div class="col-md-6">
						<!-- quadbot -->
						<div href="#" class="thumbnail">
							<a href="/portfolio/quadbot">
								<h2 class="text-centered text-center center">Quadbot</h2>
							</a>

							<div class="text-centered text-center center">
								<i class="text-centered text-center center">Personal Project</i>
								<br>
								<br>
							</div>
							<a href="/portfolio/quadbot">
								<img src="/images/quadbot.png" class="img-rounded">
							</a>
						</div>
					</div>
				</div>


			<h1>Side Projects</h1>
			<hr>

				<div class="col-md-4">
					<div href="#" class="thumbnail">
						<div class="embed-responsive embed-responsive-4by3">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/UrNdJE-w-Fo"></iframe>
						</div>
						<h3>Wireless LED Matrix</h3>
						<i>November 2016 </i>
						<a href="https://github.com/JeremySMorgan/LED-Matix-Web-Interface">
							<p>Github Link</p>
						</a>
						<p>
							• wirelessly controllable LED matrix using C/C++, HTML5, JavaScript, CSS3 and C++ JSON encoder and decoder
						</p>
					</div>
				</div>
			</div>




			<!-- end of content -->
		</div>
		<div class="col-md-2"></div>
	</div>




	</div>
</body>

</html>