<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>prm_motion_planning</title>
  <link rel="stylesheet" href="https://stackedit.io/style.css" />
</head>

<body class="stackedit">
  <div class="stackedit__html"><h1 id="prm-motion-planning">PRM Motion Planning</h1>
<h2 id="overview">Overview</h2>
<p>Matlab program to navigate a 6 dof robotic arm through a crowded environment to a desired configuration. Uses the <a href="https://en.wikipedia.org/wiki/Probabilistic_roadmap">Probabilistic Roadmap</a>
    algorithm for path planning. The project was assigned as part of University of Pennsylvania’s  <a href="https://www.coursera.org/learn/robotics-motion-planning">Computational Motion Planning</a> mooc. Supporting code can be found at my <a href="https://github.com/JeremySMorgan/Probabilistic-Roadmap-Configuration-Space-Navigation">github</a>.</p>

<p>Animation
<img src="https://github.com/JeremySMorgan/Probabilistic-Roadmap-Configuration-Space-Navigation/blob/master/prm_3.gif?raw=true" alt="neat gif"></p>



</div>
</body>

</html>
















