<div class="col-xs-12 col-md-6">
        <div href="#" class="thumbnail">
            <img src="../../images/prm_3.gif" alt="">
            <h3>Probabilistic Roadmap - Configuration Space Navigation</h3>
            <p>
                <i> June 2017</i>
            </p>
            <a href="https://github.com/JeremySMorgan/Probabilistic-Roadmap-Configuration-Space-Navigation">
                <p>Github Link</p>
            </a>
            <p>
                • Matlab project to naviagate a 6 armed robot through an obstacle filled environment to a desired end configuration. The
                Probabalistic Road Map method is used for configuration space graph construction. The created graph is then searched
                using Dijkstra's algorithm to create a route through which the robot can travel to reach it's end goal. The GUI and
                frame work was provided by the University of Pennsylvania's Computational Motion Planning online Mooc.
            </p>
        </div>
    </div>