<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="../../stylesheets/bootstrap.css">

	<% include ../partials/nav.ejs %>
</head>

<body>

	<div class="container">


		<h1>Robotics</h1><hr>

		<div class="row">

			<div class="col-xs-12 col-md-4">
				<div href="#" class="thumbnail">
					<img src="../../images/prm_3.gif" alt="">
					<h3>Probabilistic Roadmap - Configuration Space Navigation</h3>
					<p><i> June 2017</i></p>
					<a href="https://github.com/JeremySMorgan/Probabilistic-Roadmap-Configuration-Space-Navigation">
						<p>Github Link</p>
					</a>
					<p>
						• Matlab project to naviagate a 6 armed robot through an obstacle filled environment to a desired end configuration. The Probabalistic Road Map method is used for configuration space graph construction. The created graph is then searched using Dijkstra's shortest path algorithm to create a route through which the robot can travel to reach it's end goal. The GUI and frame work was provided by the University of Pennsylvania's Computational Motion Planning ponline Mooc.
					</p>
				</div>
			</div>


			<div class="col-xs-12 col-md-4">
				<div href="#" class="thumbnail">
					<img src="../../images/helix.gif" alt="">
					<h3>3D Quadrotor Control System and Motion Planner</h3>
					<p><i> June 2017</i></p>
					<a href="https://github.com/JeremySMorgan/3D-Quadrotor-Control-System-and-Motion-Planner">
						<p>Github Link</p>
					</a>
					<p>
						• Designed and implemented MATLAB based non-linearized aggressive position and attitude controllers for a simulated quad
						rotor UAV using PD control loop, ZXY Euler angle rotations, and Newton-Euler equations<br><br> • Wrote a Motion
						Planner to generate minimum snap trajectories consisting of n 7th order polynomial piece-wise functions passing through
						input coordinates
					</p>
				</div>
			</div>


			<div class="col-xs-12 col-md-4">
				<div href="#" class="thumbnail">
					<img src="../../images/astar.gif" alt="">
					<h3>A*, Dijkstra Python Search Implementation</h3>

					<p> <i>June 2017</i></p>
					<a href="https://github.com/JeremySMorgan/2DGraphSearch">
						<p>Github Link</p>
					</a>
					<p>
						• Python based implementation of A* and Dijkstra search algorithms through custom built 2D graph made from image analysis
					</p>
				</div>
			</div>

			<div class="col-xs-12 col-md-4">
				<div href="#" class="thumbnail">
					<div class="embed-responsive embed-responsive-4by3">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6dX_etCzyeo"></iframe>
					</div>
					<h3>Quadbot</h3>

					<p><i>Oct 2016 – March 2017</i></p>
					<a href="https://github.com/JeremySMorgan/Prism-Robotics">
						<p>Github Link</p>
					</a>
					<p>
						• Led a team of 4 Duke students to build an autonomous and controllable quad-bot using a python based micro-service architecture
						for robot control and motion along with a multithreaded Flask web server using socket.io for real time video streaming
						and user input
					</p>
				</div>
			</div>
			<div class="col-xs-12 col-md-4">
				<div href="#" class="thumbnail">
					<div class="embed-responsive embed-responsive-4by3">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Qm-Ij6kP5rE"></iframe>
					</div>
					<h3>Robotic Arm</h3>
					<p><i>November 2013	</i></p>
					<p>
						• Cardboard robotic arm, controlled via an Arduino Uno
					</p>
				</div>
			</div>

		</div>

		<h1>Non-Robotics Projects</h1><hr>
		<div class="row">
			<div class="col-xs-12 col-md-4">
				<div href="#" class="thumbnail">
					<img src="../../images/tricky_triangle.gif" alt="">
					<h3>Tricky Triangle</h3>
					<p><i>November 2016	</i></p>
					<a href="https://github.com/JeremySMorgan/Tricky_Triangle">
						<p>Github Link</p>
					</a>
					<p>
						• Java program to solve the tricky triangle marble game of arbitrary size using a recursive exploration algorithm
					</p>
				</div>
			</div>


			<div class="col-xs-12 col-md-4">
				<div href="#" class="thumbnail">
					<div class="embed-responsive embed-responsive-4by3">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/djglfbDbr38"></iframe>
					</div>
					<h3>Thermal Imaging Camera</h3>
					<p><i>February 2016	</i></p>
					<p>
						• FliR Dev Kit.
					</p>
				</div>
			</div>

			<div class="col-xs-12 col-md-4">
				<div href="#" class="thumbnail">
					<div class="embed-responsive embed-responsive-4by3">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/UrNdJE-w-Fo"></iframe>
					</div>
					<h3>Wireless LED Matrix</h3>
					<p><i>November 2016	</i></p>
					<a href="https://github.com/JeremySMorgan/LED-Matix-Web-Interface">
						<p>Github Link</p>
					</a>
					<p>
						• wirelessly controllable LED matrix using C/C++, HTML5, JavaScript, CSS3 and C++ JSON encoder and decoder
					</p>
				</div>
			</div>
		</div>





	</div>




</body>

</html>