<div class="col-xs-12 col-md-6">
        <div href="#" class="thumbnail">
            <img src="../../images/helix.gif" alt="">
            <h3>3D Quadrotor Control System and Motion Planner</h3>
            <p>
                <i> June 2017</i>
            </p>
            <a href="https://github.com/JeremySMorgan/3D-Quadrotor-Control-System-and-Motion-Planner">
                <p>Github Link</p>
            </a>
            <p>
                • Designed and implemented MATLAB based non-linearized aggressive position and attitude controllers for a simulated quad
                rotor UAV using PD control loop, ZXY Euler angle rotations, and Newton-Euler equations
                <br>
                <br> • Wrote a Motion Planner to generate minimum snap trajectories consisting of n 7th order polynomial piece-wise functions
                passing through input coordinates
            </p>
        </div>
    </div>
