<div class="col-xs-12 col-md-6">
    <div href="#" class="thumbnail">
        <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6dX_etCzyeo"></iframe>
        </div>
        <h3>Quadbot</h3>

        <p>
            <i>Oct 2016 – March 2017</i>
        </p>
        <a href="https://github.com/JeremySMorgan/Prism-Robotics">
            <p>Github Link</p>
        </a>
        <p>
            • Led a team of 4 Duke students to build an autonomous and controllable quad-bot using a python based micro-service architecture
            for robot control and motion. Uses a multithreaded Flask web server using socket.io for real time video streaming
            and user input
        </p>
    </div>
</div>