<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeremy Morgan Personal Site</title>
    <link rel="stylesheet" href="https://stackedit.io/style.css" />
</head>

<body class="stackedit">
    <div class="stackedit__html">
        <h1 id="jpl-robosimian-quadruped-robot-gait-development">Robosimian Walking Control</h1>

        <p>
            <small> Forward Gait</small>
        </p>
        <iframe width="560" height="315" class="embed-responsive-item" src="https://www.youtube.com/embed/F3PrzQzOK-k"></iframe>

        <p>The objective of this project was to build a statically stable walking and turning interface for
            <a href="https://www.jpl.nasa.gov/news/news.php?feature=4603">JPL’s Robosimian quadrupedal robot</a> to allow operators to move the robot in real time. This was achieved by
            building a forward and sideways gaits, as well as a reset procedure. All the motions are statically stable. The
            software was built using
            <a href="http://motion.pratt.duke.edu/klampt/">Klamp’t</a> for simulation, inverse kinematics, and physical modeling. The work was done under Kris Hausers’
            <a href="http://motion.pratt.duke.edu/home.html">Intelligent Motion Laboratory</a> at Duke University. Supporting code is available upon request.</p>
    </div>


</body>

</html>