
<div class="container-fluid">

    <u><h3 class="text-centered text-center center">PRM Motion Planning</h3></u>
    <p>Matlab program to navigate a 6 dof robotic arm through a crowded environment to a desired configuration. Uses the  <a href="https://en.wikipedia.org/wiki/Probabilistic_roadmap">probabilistic roadmap</a>  algorithm for path planning. The project was assigned as part of University of Pennsylvania’s  <a href="https://www.coursera.org/learn/robotics-motion-planning">Computational Motion Planning</a>  mooc. Supporting code can be found at my  <a href="https://github.com/JeremySMorgan/Probabilistic-Roadmap-Configuration-Space-Navigation">github</a>.</p>
    <h4 id="demo">demo</h4>
    <img src="https://github.com/JeremySMorgan/Probabilistic-Roadmap-Configuration-Space-Navigation/blob/master/prm_3.gif?raw=true" class="img-responsive img-rounded" alt="neat gif">



</div>