<div class="container-fluid">

    <u><h3 class="text-centered text-center center">12 dof Quadruped Robot</h3></u>
    <h4 id="overview">Overview</h4>
    <p>The scope of this project was to build a quadrupedal robot controllable realtime through a web interface or a custom bluetooth remote controller. The project realized my senior year of high school.</p>
    <h4 id="hardware">Hardware</h4>
    <p>The robot is made of 3d prints designed on AutoCAD. The frame hold 12  Servo motors which are powered through an external power supply and regulated with a Buck converter. The servos are driven by Adafruit’s 16-Channel PWM / Servo HAT.</p>
    <h4 id="web-interface">Web Interface</h4>
    <p>The robot hosts a Flask server with sockets to provides client - server communication. User input is collected through game controllers.</p>
    <h4 id="demo">Demo</h4>
    <p>Robot walking (no user input)</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/6dX_etCzyeo" allowfullscreen=""></iframe>

</div>
