
<link rel="stylesheet" type="text/css" href="./styles/media.css">

<body>

<div id="content_holder">

<div id="title">
	<h1> Media </h1>
	<style type="text/css">
	#title{
		font-size: 1.92em;
		font-family: Stiff Staff, DIN Alternate Bold, Andale Mono;
		position: absolute;
		top:0;
		left:0;
		margin-top: .5em;
		margin-left: 2%;
		padding-left: .953em;
		padding-right: .95em;
		padding-top: .25em;
		padding-bottom: 0em;
		border:2px solid aqua;
	}

	#title{
		background-color: transparent;
	}
	</style>

</div>


<div id="return">
	<table>
		<tr><h1><a href="/#/">Home </a></h1></tr>
		<tr><h1><a href="/#/projects">Projects </a></h1></tr>
		<tr><h1><a href="/#/art">Art </a></h1></tr>
		<tr><h1><a href="/#/contact">Contact</a></h1></tr>

    <!---
    home - /#/
    projects - /#/projects
    media - /#/media
    art - /#/art
    contact - /#/contact
    -->


	</table>

	<style type="text/css">
		#return{
			position: fixed;
			top:0;
			right:0;
			margin-right: 1em;
			margin-top: 1em;

			background-color: transparent;
			border-radius: .25em;
		}

		#return h1{
			font-family: Stiff Staff, DIN Alternate Bold, Andale Mono;
			font-size: 1.4em;
			margin-right: .5em;
			margin-left: .5em;
			text-align: center;
			vertical-align: center;

			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			-ms-transition: all 0.3s ease;
		}

		#return a{
			border-bottom: 2px solid black;
			border-radius: .2em;
		}

		#return h1:hover{
			font-size: 1.5em;
			text-shadow: 2px 2px #ff0000;
		}

		/* unvisited link */
		#return a:link {
			color: #3fb0ac;
			text-decoration: none;}

		/* visited link */
		#return a:visited {
			color: #3fb0ac;
			text-decoration: none;}

		#return a:active {
			color: #3fb0ac;
			text-decoration: none;}
	</style>
</div>





<div id="hexGrid">

			<ul id="categories" class="clr">


				<li class="pusher"></li>

				<li>
						<div>
							 <img src="./images/page3pics/autoshop.jpg" alt=""/>
							<h1>{Working in Autoshop}</h1>
							<p>Testing oil as a junior mechanic at Griffin Motorwerkes </p>
						</div>

				</li>

				<li>
						<div>
							 <img src="./images/page3pics/Jeremy15 01.jpg" alt=""/>
							<h1>{Arduino + Me}</h1>
							<p>Playing with my boards on a Sunday morning</p>
						</div>

				</li>

				<li>
					<div>
						<img src="./images/page3pics/measuringRocketFuel.jpg" alt=""/>
						<h1>{Measuring Rocket Fuel}</h1>
						<p>Perfecting the ratio of Potassium Nitrate to sugar for maximum thrust</p>
					</div>
				</li>

				<li>
					<div>
						<img src="./images/page3pics/burningMan.jpg" alt=""/>
						<h1>{First Time on the Playa}</h1>
						<p>A nice picture from the first time at the Black Rock Desert</p>
					</div>
				</li>
<li class="pusher"></li>
				<li>
						<div>
							 <img src="./images/page3pics/archer.jpg" alt=""/>
							<h1>{Archery Practice}</h1>
							<p>Spending some free time practicing my archery</p>
						</div>
				</li>

				<li class="pusher"></li>

					<li>
						<div>
							<img src="./images/page3pics/racecar.jpg" alt=""/>
							<h1>{Racecar Driving}</h1>
							<p>16th birthday present: racecar driving lesson at the SIM Raceway</p>
						</div>
					</li>


				<li class="pusher"></li>

				<li>
					<div>
						<img src="./images/page3pics/rocketFuel.jpg" alt=""/>
						<h1>{Cooking Rocket Fuel}</h1>
						<p>8' LED strip controlled by light switches embedded into a book (sorry book)</p>
					</div>
				</li>
<li class="pusher"></li>
				<li>
					<div>
						<img src="./images/page3pics/teachingCoding.jpg" alt=""/>
						<h1>{Teaching Coding}</h1>
						<p>Teaching an elementary students how to defeat ogres in CodeCombat </p>
					</div>
				</li>


				<li class="pusher"></li>

				<li>
					<div>
						<img src="./images/page3pics/flipBaloon.jpg" alt=""/>
						<h1>{Balloon Launch}</h1>
						<p>Sending a balloon into the upper reaches of the atmosphere in 6th grade</p>
					</div>
				</li>

			</ul>
		</div>
	</div>

		</div>

	</body>
